* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
}

#__next,
main {
  height: 100%;
}

@keyframes ac-spin {
  to {
    transform: rotate(360deg);
  }
}
